<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Resource" parallel="methods" thread-count="10">
    <test name="future">
        <classes>
            <class name="com.selenium.action.composite.LoginAndLogoutUserStoryTest" />
        </classes>
    </test>
    <test name="futureB">
        <classes>
            <class name="com.selenium.action.composite.CompositeUserStoryTest" />            
        </classes>
    </test>
    <test name="past">
        <classes>
            <class name="com.selenium.StoryResultsTest" />
        </classes>
    </test>
</suite>