<h1>Selenium Tests</h1>
<div ng-show="authenticated">
    <label for="userstory"> User Story: </label>
    <select name="userstory" ng-change="controller.story()" id="userstory" ng-model="controller.data.story">
      <option ng-repeat="option in controller.userstories" value="{{option}}">{{option}}</option>
    </select>
    <label for="browser"> Browser: </label>
    <select name="browser" id="browser" ng-change="controller.browser()" ng-model="controller.data.browser">
      <option ng-repeat="option in controller.browsers" value="{{option}}">{{option}}</option>
    </select>
    <label for="session"> Session: </label>
    <select name="session" id="session" ng-change="controller.action()" ng-model="controller.data.session">
      <option ng-repeat="option in controller.sessions" value="{{option}}">{{option}}</option>
    </select>
    <label for="action"> Action: </label>
    <select name="action" id="action" ng-change="controller.image()" ng-model="controller.data.action">
      <option ng-repeat="option in controller.actions" value="{{option[0]}}">{{option[1]}}.{{option[2]}}</option>
    </select>
</div>
<div>
    <img src="{{controller.data.image}}" />
</div>
<div  ng-show="!authenticated">
    <p>Login to see your tests</p>
</div>